@model AdliteModelBase

<aside class="aside-menu">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icon-speech"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">

    
    @*
    =================================================
    OFFER CAPS
    =================================================
    *@

    <div class="tab-pane active" id="timeline" role="tabpanel">
      <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase" style="margin-bottom: 20px;">
        <small>
          <b>Offer caps</b>
        </small>
      </div>

      @{
        Adeliate.Portal.Code.Cache.AffiliateOfferSearchFilter filter = new Adeliate.Portal.Code.Cache.AffiliateOfferSearchFilter();
        filter.SkipOnesWithoutTransactions = true;
        filter.Type = Adeliate.Portal.Code.Cache.AffiliateOfferSearchFilter.DescendingType.DescendingByTransactions;
        List<Adeliate.Portal.Code.Cache.AffiliateOfferCache> offers = AdliteContext.Current.AdliteCache.GetOffers(filter);

        foreach (Adeliate.Portal.Code.Cache.AffiliateOfferCache offer in AdliteContext.Current.AdliteCache.GetOffers(filter))
        {
          <div class="message offersMessage" id="offerMessage_@offer.OfferID" cap="@offer.Cap" transactions="@offer.Transactions">
            <div class="py-1 pb-2 mr-1 float-left offerMessageBox">
              <div class="avatar">
                <img src="/Images/campaign?id=@offer.CampaignID" class="img-avatar">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">@offer.Name</small>
              <small class="text-muted float-right mt-q"></small>
            </div>
            <div class="text-truncate font-weight-bold">
              <div class="clearfix">
                <div class="float-left">
                  <strong class="__offersMessage_progressInfo">0%</strong>
                </div>
                <div class="float-right">
                  <small class="text-muted">
                    <span class="__offersMessage_transactions">@offer.Transactions</span> / @offer.Cap
                  </small>
                </div>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar bg-success __offersMessage_progress" role="progressbar" style="width: 0%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        }
      }

      <script>
        function _offersMessageUpdate(){
          $('.offersMessage').each(function () {
            var transactions = parseInt($(this).attr('transactions'));
            var capValue = parseInt($(this).attr('cap'));
            var finishRate = (transactions / capValue) * 100;
            
            $(this).find('.__offersMessage_transactions').text(transactions);
            $(this).find('.__offersMessage_progress').css('width', finishRate + '%');
            $(this).find('.__offersMessage_progressInfo').text(finishRate + '%');
          });
        }
        $(document).ready(function () {
          _offersMessageUpdate();
          _signal.get('click').transactionUpdates.push(function (data) {
            var elem = $('#offerMessage_' + data.offerID);
            if (elem.length == 0) return;
            var transactions = parseInt(elem.attr('transactions')) + 1;
            elem.attr('transactions', transactions);
          });
        });
      </script>

    </div>
    
    @*
    =================================================
    LAST TRANSACTIONS
    =================================================
    *@

    <div class="tab-pane" id="messages" role="tabpanel">
      <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase" style="margin-bottom: 20px;">
        <small>
          <b>Last transactions</b>
        </small>
      </div>

      <div id="transactionMessageHolder">
        @foreach (Adeliate.Portal.Code.Cache.AffiliateTransactionsCache transaction in AdliteContext.Current.AdliteCache.TransactionsNotification)
        {
          <div class="message transactionMessage">
            <div class="py-1 pb-2 mr-1 float-left transactionMessageBox">
              <div class="avatar">
                <img src="/Images/campaign?id=@transaction.CampaignID" class="img-avatar transactionMessageImg">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              @*<small class="text-muted">Lukasz Holeczek</small>*@
              <small class="text-muted float-right mt-q transactionMessageCreated">
                @AdliteDateTime.DatePrint(transaction.Created)
              </small>
            </div>
            <div class="text-truncate font-weight-bold transactionMessageName">
              @transaction.Name
            </div>
          </div>
        }
      </div>

    </div>

    @*
    =================================================
    SETTINGS
    =================================================
    *@

    <div class="tab-pane p-1" id="settings" role="tabpanel">
      <h6>Settings</h6>
      <div class="aside-options">
        <div class="clearfix mt-2">
          <small>
            <b>Option 1</b>
          </small>
          <label class="switch switch-text switch-pill switch-success switch-sm float-right">
            <input type="checkbox" class="switch-input" checked="">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
        </div>
      </div>
      <div class="aside-options">
        <div class="clearfix mt-1">
          <small>
            <b>Option 2</b>
          </small>
          <label class="switch switch-text switch-pill switch-success switch-sm float-right">
            <input type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div>
          <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
        </div>
      </div>
      <div class="aside-options">
        <div class="clearfix mt-1">
          <small>
            <b>Option 3</b>
          </small>
          <label class="switch switch-text switch-pill switch-success switch-sm float-right">
            <input type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
      </div>
      <div class="aside-options">
        <div class="clearfix mt-1">
          <small>
            <b>Option 4</b>
          </small>
          <label class="switch switch-text switch-pill switch-success switch-sm float-right">
            <input type="checkbox" class="switch-input" checked="">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
      </div>
      <hr>
      <h6>System Utilization</h6>
      <div class="text-uppercase mb-q mt-2">
        <small>
          <b>CPU Usage</b>
        </small>
      </div>
      <div class="progress progress-xs">
        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small class="text-muted">348 Processes. 1/4 Cores.</small>
      <div class="text-uppercase mb-q mt-h">
        <small>
          <b>Memory Usage</b>
        </small>
      </div>
      <div class="progress progress-xs">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small class="text-muted">11444GB/16384MB</small>
      <div class="text-uppercase mb-q mt-h">
        <small>
          <b>SSD 1 Usage</b>
        </small>
      </div>
      <div class="progress progress-xs">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small class="text-muted">243GB/256GB</small>
      <div class="text-uppercase mb-q mt-h">
        <small>
          <b>SSD 2 Usage</b>
        </small>
      </div>
      <div class="progress progress-xs">
        <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small class="text-muted">25GB/256GB</small>
    </div>
  </div>
</aside>
