@model Adeliate.Portal.Models.Administration.EditCampaignModel
@{
    ViewBag.Title = "ImageMap";
    Layout = "~/Views/_Shared/Layouts/_Main.cshtml";
}

<style>
  .sidebar {
    display: none;
  }
  .app-body{
    margin-top:0px !important;
  }
  .pace{
    display:none !important;
  }
  header {
    display: none !important;
  }
  .image{
    position:relative;
    float:left;
    height:179px;
    width:179px;
  }
  .default{
    display:none;
  }
  .visible{
    display:block !important;
  }
  .app-footer{
    display: none !important;
  }
</style>
<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Images</strong>
            <div id="campaignID" campaignID="@Model.Campaign.ID"></div>
          </div>
          <div class="card-block">
            @foreach (var item in Model.CampaignImageMaps)
                {
                  var visible = item.IsDefault == true ? "visible" : "";
                  var isDefault = item.IsDefault == true ? "true" : "false";
              <div class="image" imageID="@item.ID" isDefault="@isDefault"  style="margin-right:5px; margin-bottom:5px; cursor:pointer;">
                <div class="default @visible" style="position:absolute;">
                  <img src="~/Images/defaults/Label.png" alt="Alternate Text" />
                </div>
                <div class="delete" style="position:absolute; right:7px; top:5px;">
                  <img src="~/Images/icons/X.png" alt="Alternate Text" />
                </div>
                <img src="/Images/Get?id=@item.Image.ID" alt="Alternate Text" style="height:100%; width:100%;"/>
              </div>
            }
          </div>
          <div class="card-footer">
            
            <form action="/AdminCampaign/AddCampaignImage" method="post" enctype="multipart/form-data">
              <input type="text" name="ID" value="@Model.Campaign.ID" placeholder="ID of object" hidden />
              @*<label class="btn btn-default">
                Browse <input type="file" name="file" hidden>
              </label>*@
              <div class="input-group" style="width:500px;">
                <label class="input-group-btn">
                  <span class="btn btn-primary" style="cursor:pointer;">
                    Browse… <input type="file" name="file" style="display: none;">
                  </span>
                </label>
                <input type="text" class="form-control" id="fileName" readonly="" style="height:35px; border-top-right-radius: 4px;border-bottom-right-radius: 4px;">
                <input id="submit" class="btn btn-success" type="submit" name="name" id="addImage" value="Add Image" style="height:35px; margin-left:40px;" disabled />
              </div>
              
            </form>
            <button type="button" class="btn btn-primary float-right" id="updateImageMap"> Update </button>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>

<script>
  $(document).on('change', ':file', function () {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  $(document).ready(function () {
    $(':file').on('fileselect', function (event, numFiles, label) {
      $('#fileName').val(label);
      $('input:submit').attr('disabled', false);
    });
   

    $('.image').click(function () {
      $('.image').each(function () {
        $(this).find('.default').removeClass('visible');
        $(this).attr('isDefault', 'false');
      });
      $(this).find('.default').addClass('visible');
      $(this).attr('isDefault', 'true');
    });
    var toDelete = "";
    $('.delete').click(function () {
      var parent = $(this).closest('.image');
      if (toDelete == "")
        toDelete += parent.attr('imageID');
      else
        toDelete += "," + parent.attr('imageID');

      parent.remove();
    });
    $('#updateImageMap').click(function () {
    
      var mapID = "";
      var campaignID = $('#campaignID').attr('campaignID');
      $('.image').each(function () {
        if ($(this).attr('isDefault') == 'true')
          mapID = $(this).attr('imageID');
      });
      _system.call('/AdminCampaignApi/UpdateImageMap',{CampaignImageMapID : mapID, CampaignID : campaignID, toDelete : toDelete}, 
        function (response) {
          if (!response.status)
            _modal.ToastWarning(response.message);
          else
            _modal.Toast(response.message);
        }
        );
    });
  });
</script>